body {
  background-color: lightgray;
  font-family: verdana;
}
h1 {
  color: #333333;
  opacity: 0.9;
  border-bottom: 5px solid red;
}


img {
    width: 200px;

}
.textovermelho { 
    color: red;
}